<ion-view view-title="상세보기">
  <ion-nav-buttons side="right">
    <button class="button button-positive" ng-click="vm.showDatePicker()">
      날짜
    </button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-tabs has-header item-details">
    <h1 class="text-center">{{vm.selectedItem.seq}}. {{vm.selectedItem.name}}</h1>
    <h3 class="text-center">{{vm.selectedDateString}}</h3>
    <nvd3 options="vm.chart.options" data="vm.chart.data"></nvd3>
    <div class="button-bar padding">
      <a grouped-radio="'year'" ng-model="vm.viewType" ng-change="vm.onChangeViewType()">연단위</a>
      <a grouped-radio="'month'" ng-model="vm.viewType" ng-change="vm.onChangeViewType()">월단위</a>
      <a grouped-radio="'week'" ng-model="vm.viewType" ng-change="vm.onChangeViewType()">주단위</a>
    </div>
  </ion-content>
</ion-view>
