<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Home"
           icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"
           href="#/base/home">
    <ion-nav-view name="base-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Details"
           icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes"
           href="#/base/details">
    <ion-nav-view name="base-details"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings"
           icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear"
           href="#/base/settings">
    <ion-nav-view name="base-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
